.validation-message-icon {
  width: 8rem;
}

.validation-message-title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  color: #393A3D;
}

.validation-message-content {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  color: #393A3D;
}