.heatmap-graph {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.6rem;
  border: 1px solid var(--border-primary);
}

.heatmap-graph-title {
  flex-grow: 1;
  color: var(--text-primary);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  margin-left: 4%;
  width: 46%;
  line-height: 2.8rem;
}

.heatmap-graph-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.hexagon-tooltip {
  transform: translate(10%, -75%);
  z-index: 10;
}

.hexagon-tooltip-table {
  border-spacing: 0;
  border: 0.1rem solid var(--border-primary);
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 0.4rem;
  background: var(--bg-secondary);
}

.hexagon-table-tbody tr:nth-child(2n + 1) td {
  background: var(--bg-tertiary);
}

.hexagon-table-th,
.hexagon-table-td {
  padding: 0.96rem;
  color: var(--text-primary);
}

.hexagon-table-span {
  padding: 0.5rem;
  display: block;
  text-align: left;
}
