.heatmap-graph {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  border: 1px solid #d9d9d9;
}

.heatmap-graph-title {
  flex-grow: 1;
  color: #241C15;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
}

.heatmap-graph-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.hexagon-tooltip {
  transform: translate(10%, -75%);
}

.hexagon-tooltip-table {
  border-spacing: 0;
  border: 0.0625rem solid #dcdddc;
  border-radius: 0.3125rem;
  width: 100%;
  margin-bottom: 0.25rem;
}

.hexagon-table-tbody tr:nth-child(2n + 1) td {
  background: white;
}

.hexagon-table-th,
.hexagon-table-td {
  padding: 0.6rem;
}

.hexagon-table-span {
  padding: 0.3125rem;
  display: block;
  text-align: left;
}
