apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- numaflow-webhook-sa.yaml
- rbac
- numaflow-webhook-deployment.yaml
- numaflow-webhook-service.yaml

namespace: numaflow-system

images:
  - name: quay.io/numaproj/numaflow
    newTag: v1.2.0-rc2

