.date-range-label {
    font-size: 1.4rem;
    position: absolute;
    top: -10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    font-size: 1.2rem; /* Adjust as needed */
    color: #999; /* Adjust color as needed */
    transition: 0.2s ease all;
    background-color: white; /* Match the background of the input */
    padding: 0 5px; /* Add padding to prevent overlap with the border */
    z-index: 1; /* Ensure the label is above the input */
  }

.date-range-picker-container {
    position: relative;
    display: inline-block;
  }
  
  .date-input {
    font-size: 1.6rem;
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: border-color 0.3s;
  }

  .date-input:hover {
    border-color: #000000;
  }
  
  .date-input:focus {
        border-color: #3492EF;
        outline: none;
        box-shadow: none;
    }
  .caret {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.6rem;
    color: #00000060;
  }