.react-flow__edge-textwrapper {
    cursor: pointer;
}

.react-flow__edge-textbg {
    fill: var(--bg-tertiary);
}

.pipeline-status-title {
    font-weight: 600;
    color: var(--text-primary);
    font-size: 1.3rem;
    font-style: normal;
}

.namespace-k8s-events {
    color: var(--accent-primary);
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}
