.isb-status-subtitle {
    color: var(--text-secondary);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.85rem;
}

.isb-status-text {
    color: var(--text-primary);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.35rem;
}
