.pipeline-logo {
    width: 2.4rem;
}

.pipeline-logo-text {
    color: #3C4348;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 0.2rem;
}

.health-tooltip-text {
    display: flex;
    flex-direction: column;
}
