.node-info {
    white-space: nowrap;
    font-size: 0.65rem;
}

.node-icon {
    width: 0.715rem;
    height: 0.715rem;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 0.0625rem;
    margin-right: 0.0625rem;
    padding-bottom: 0.03125rem;
}

.node-podnum {
    font-weight: bold;
}