.summary-page-layout-collapse-button {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.summary-page-layout-expand-button {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  margin-left: 1rem;
}

.summary-page-layout-collapsed-text {
  color: var(--text-primary);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
}

.summary-page-layout-separator {
  width: 0.1rem;
  background: var(--border-secondary);
}
