---
apiVersion: v1
kind: Service
metadata:
  name: kafka
spec:
  ports:
    - name: kafka-client
      port: 9092
    - name: admin
      port: 9644
  selector:
    app: redpanda

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redpanda
spec:
  serviceName: kafka
  replicas: 1
  selector:
    matchLabels:
      app: redpanda
  template:
    metadata:
      labels:
        app: redpanda
    spec:
      containers:
        - name: redpanda
          image: docker.redpanda.com/redpandadata/redpanda:latest
          args:
            - redpanda
            - start
            - --overprovisioned
            - --smp=1
            - --memory=1G
            - --reserve-memory=0M
            - --node-id=0
            - --check=false
            - --advertise-kafka-addr=redpanda-0.kafka:9092
            - --set redpanda.auto_create_topics_enabled=false
          ports:
            - containerPort: 9092
              name: kafka
            - containerPort: 9644
              name: admin
          volumeMounts:
            - name: data
              mountPath: /var/lib/redpanda/data
      volumes:
        - name: data
          emptyDir: {}
