.namespace-k8s-events {
  color: #393A3D;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 2rem;
}
