.namespace-k8s-events {
  color: var(--accent-primary);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
