.namespace-card-name {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  color: var(--text-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.namespace-card-section-title {
  color: var(--text-secondary);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
}

.namespace-card-section-title-value {
  color: var(--text-secondary);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  margin-left: 0.5rem;
}

.namespace-card-section-text-14-normal {
  color: var(--text-secondary);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}

.namespace-card-section-text-16-bold {
  color: var(--text-secondary);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
}

.namespace-card-section-text-16-normal {
  color: var(--text-secondary);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

.namespace-card-group-spacing {
  margin-left: 0.5rem;
}
