.namespace-card-name {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  color: #000;
}

.namespace-card-section-title {
  color: #3C4348;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
}

.namespace-card-section-title-value {
  color: #3C4348;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  margin-left: 0.3125rem;
}

.namespace-card-section-text-14-normal {
  color: #3C4348;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.namespace-card-section-text-16-bold {
  color: #3C4348;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}

.namespace-card-section-text-16-normal {
  color: #3C4348;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.namespace-card-group-spacing {
  margin-left: 0.3125rem;
}