.edge {
  position: absolute;
  cursor: pointer;
  pointer-events: all;
  display: flex;
}

.edge-tooltip {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  font-family: "Avenir", sans-serif;
  cursor: pointer;
}
