.summary-titled-value-title {
  color: #393A3D;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
}

.summary-titled-value-value {
  color: #3C4348;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
}