.summary-titled-value-title {
  color: #393A3D;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
}

.summary-titled-value-value {
  color: #3C4348;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
}