.summary-titled-value-title {
  color: var(--text-primary);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
}

.summary-titled-value-value {
  color: var(--text-secondary);
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
}
