.vertex-details-tab-panel {
    height: 100%;
}

.vertex-details-tab.MuiTab-root {
    font-size: 1.4rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    color: #6B6C72 !important;
    text-transform: none !important;
}

.vertex-details-tab-selected.MuiTab-root {
    font-size: 1.4rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    color: #393A3D !important;
    text-transform: none !important;
}

.vertex-details-tabs > .MuiTabs-scroller > .MuiTabs-indicator {
    background-color: #037C8F !important;
}

.errors-tab-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.errors-tab-title-count {
    color: red;
    font-size: 1rem !important;
}