.error-display-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
}

.error-display-message {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

.error-display-icon {
  width: 9rem;
}
