.Breadcrumbs {
  margin: 0.8rem 2rem !important;
  overflow: hidden !important;
}

.Breadcrumbs-typ {
  color: var(--text-tertiary);
  font-size: 1.2rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 1.6rem !important;
}

.Breadcrumbs-link {
  text-decoration: none;
  font-size: 1.2rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 1.6rem !important;
  color: var(--accent-primary);
}

.Breadcrumbs-link:hover {
  text-decoration: underline;
}

.MuiBreadcrumbs-li {
  display: flex !important;
}

.MuiBreadcrumbs-separator {
  margin: 0 0.5rem !important;
  font-size: 1.6rem !important;
}

.crumb-separator {
  width: 3rem;
  height: 2.9rem;
  margin: -0.5rem;
  margin-top: -0.4rem;
}
