apiVersion: v1
kind: ServiceAccount
metadata:
  name: numaflow-webhook-sa
  namespace: numaflow-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: numaflow-webhook
    app.kubernetes.io/name: numaflow-webhook
    app.kubernetes.io/part-of: numaflow
  name: numaflow-webhook
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - create
  - update
  - delete
  - patch
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - create
  - update
  - delete
  - patch
  - watch
- apiGroups:
  - numaflow.numaproj.io
  resources:
  - interstepbufferservices
  - pipelines
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  verbs:
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/component: numaflow-webhook
    app.kubernetes.io/name: numaflow-webhook
    app.kubernetes.io/part-of: numaflow
  name: numaflow-webhook-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: numaflow-webhook
subjects:
- kind: ServiceAccount
  name: numaflow-webhook-sa
  namespace: numaflow-system
---
apiVersion: v1
kind: Service
metadata:
  name: numaflow-webhook
  namespace: numaflow-system
spec:
  ports:
  - port: 443
    targetPort: 443
  selector:
    app.kubernetes.io/component: numaflow-webhook
    app.kubernetes.io/name: numaflow-webhook
    app.kubernetes.io/part-of: numaflow
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: numaflow-webhook
  namespace: numaflow-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: numaflow-webhook
      app.kubernetes.io/name: numaflow-webhook
      app.kubernetes.io/part-of: numaflow
  template:
    metadata:
      labels:
        app.kubernetes.io/component: numaflow-webhook
        app.kubernetes.io/name: numaflow-webhook
        app.kubernetes.io/part-of: numaflow
    spec:
      containers:
      - args:
        - webhook-service
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: PORT
          value: "443"
        - name: DEPLOYMENT_NAME
          value: numaflow-webhook
        - name: SERVICE_NAME
          value: numaflow-webhook
        - name: CLUSTER_ROLE_NAME
          value: numaflow-webhook
        image: quay.io/numaproj/numaflow:v1.0.0-rc3
        imagePullPolicy: Always
        name: webhook
      serviceAccountName: numaflow-webhook-sa
