.namespace-k8s-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
}

.namespace-k8s-type-count-badge > .MuiBadge-badge {
  color: #FFF !important;
}

.namespace-k8s-type-count-badge {
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
  color: #FFF;
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

.normal {
  background-color: #00BB42;
}

.warn {
  background-color: #FB0;
}

.namespace-k8s-type-count-text {
  text-transform: none;
  font-family: Avenir;
  font-size: 1.4rem;
}

.MuiTableCell-root {
  background-color: #FFF !important;
  border-bottom: 1px solid #DCDCDC !important;
  padding: 1.6rem 0.8rem !important;
  font-size: 1.4rem !important;
}