.Graph {
    flex-grow: 1;
    position: relative;
    cursor: move;
    height: 30rem;
    border: 0.125rem solid whitesmoke;
}

.Graph .controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    font-size: 12px;
}

.Graph .controls button:first-child {
    margin-right: 10px;
}

.react-flow svg { overflow: visible; }