workspace = { members = [
    "backoff",
    "numaflow-models",
    "servesink",
    "serving",
    "numaflow-core",
    "numaflow-pb",
] }

[[bin]]
name = "numaflow"
path = "src/bin/main.rs"

[package]
name = "numaflow"
version = "0.1.0"
edition = "2021"

[profile.release]
debug = true

[dependencies]
tokio = "1.39.2"
backoff = { path = "backoff" }
servesink = { path = "servesink" }
serving = { path = "serving" }
numaflow-core = { path = "numaflow-core" }
numaflow-pb = { path = "numaflow-pb" }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
