.bold-text{
    color: var(--text-secondary);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2.35rem;
    word-wrap: break-word
}
.status-icon-img{
    width: 2.4rem;
    height: 2.4rem;
}