.node-rate {
    display: flex;
    width: 5.625rem;
    height: 1.375rem;
    border-radius: 1.25rem;
    background: #D1DEE9;
    color: #274C77;
    font-family: "IBM Plex Sans", serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -12.5%;
    right: 8%;
    text-transform: lowercase;
}

.node-pods {
    display: flex;
    width: 6.25rem;
    height: 1.375rem;
    border-radius: 1.25rem;
    background: #D1DEE9;
    color: #274C77;
    font-family: "IBM Plex Sans", serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: -13.5%;
    left: 10%;
    text-transform: lowercase;
}

.node-pods > img {
    width: 1.25rem;
}

.node-status {
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 1.25rem;
    background: #D1DEE9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -12.5%;
    left: 8%;
}

.node-tooltip {
    font-size: 0.8125rem;
}

.react-flow__node-input {
    width: 15.75rem;
    height: 4.875rem;
    border-radius: 1.25rem;
    border: 0.0625rem solid #009EAC;
    background: var(--boxes, #F8F8FB);
    box-shadow: 0 1.5rem 3rem -0.5rem rgba(39, 76, 119, 0.16);
    cursor: pointer;
}

.node-info {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: #274C77;
    text-align: center;
    font-family: "IBM Plex Sans", serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.node-icon {
    width: 0.715rem;
    height: 0.715rem;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 0.0625rem;
    margin-right: 0.0625rem;
    padding-bottom: 0.03125rem;
}

.node-podnum {
    font-weight: bold;
}

.react-flow__handle {
    /*background : #8D9096;*/
    z-index: -1;
    margin: -0.2rem;
    height: 1rem;
    width: 1rem;
}

.sideInput_node {
    display: flex;
    cursor: pointer;
}

.sideInput_node_ele {
    width: 2.25rem;
    height: 1.875rem;
    background: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-flow__handle-bottom {
    z-index: -1;
    margin: -0.2rem;
    height: 1rem;
    width: 1rem;
    border: none;
    bottom: -15%;
    background: none !important;
}

.sideInput_handle {
    bottom: -26% ;
    position: absolute;
    cursor: pointer;
}