.summary-statuses-title {
  color: var(--text-primary);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
}

.summary-statuses-count {
  color: var(--text-secondary);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
}

.summary-statuses-active-logo {
  width: 2.4rem;
}

.summary-statuses-active-text {
  color: var(--text-secondary);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 0.2rem;
}

.summary-statuses-link {
  color: var(--text-primary);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
}
