.edge-tooltip {
    font-size: 1.2em;
}

.edge-watermark {
    width: fit-content;
    height: 12px;
    background: #ccd6dd;
    border: 1px solid #8fa4b1;
    position: absolute;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 0.8em;
    text-transform: lowercase;
    margin-top: -13px;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    pointer-events: all;
}

.edge-backpressure {
    width: fit-content;
    height: 12px;
    background: #ccd6dd;
    border: 1px solid #8fa4b1;
    position: absolute;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 0.8em;
    text-transform: lowercase;
    margin-top: 1px;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    pointer-events: all;
    align-content: center;
}

.edge-common-tooltip {
    text-align: center;
}