.edge-tooltip {
    font-size: 1.2em;
}

.edge-watermark {
    width: fit-content;
    background: white;
    position: absolute;
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 0.8em;
    text-transform: lowercase;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    pointer-events: all;
}

.edge-backpressure {
    width: fit-content;
    background: white;
    position: absolute;
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 0.8em;
    text-transform: lowercase;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    pointer-events: all;
    align-content: center;
}

.edge-common-tooltip {
    text-align: center;
}
