.node-rate {
    width: fit-content;
    height: 10px;
    background: #ccd6dd;
    border: 1px solid #8fa4b1;
    position: absolute;
    bottom: -5px;
    right: 10px;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 0.8em;
    text-transform: lowercase;
    margin-right: 1px;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
}

.node-tooltip {
    font-size: 1.2em;
}

.node-watermark {
    width: fit-content;
    height: 10px;
    background: #ccd6dd;
    border: 1px solid #8fa4b1;
    position: absolute;
    top: -5px;
    left: 50px;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 0.8em;
    text-transform: lowercase;
    margin-right: 1px;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
}
.node-watermark-tooltip {
    text-align: center;
}

.node-info {
    white-space: nowrap;
    font-size: 1.3em;
}

.node-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 2px;
    margin-right: 3px;
}

.node-podnum {
    font-weight: bold;
}