.filter-menu-item {
    width: fit-content !important;
    min-width: 13rem !important;
    display: flex !important;
    justify-content: space-between !important;
}

.filter-menu-item-name {
    text-overflow: ellipsis;
    font-size: 1.3rem;
    font-family: Avenir Next, sans-serif;
}

.filter-menu-item-forward-icon {
    height: 2rem !important;
    width: 2rem !important;
    color: var(--accent-primary) !important;
}

.filters-dropdown-container {
    display: flex;
    align-items: center;
    min-width: 13rem;
    width: 100%;
    border-radius: 0.4rem;
    height: 5rem;
    padding: 1rem;
    gap: 1rem;
    background-color: transparent;
    transition: border-color 0.2s ease;
}

.filters-dropdown-container:hover {
    border-color: var(--text-primary) !important;
}

.filters-dropdown-selected-filters-container {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--bg-tertiary);
    border-radius: 0.4rem;
    justify-content: space-between;
    width: fit-content;
    max-width: 25rem;
}

.filters-dropdown-selected-filter-value {
    font-family: "Avenir Next", sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--text-primary);
    font-size: 1.1rem;
    font-weight: 600;
}

.filters-dropdown-add-filter-button {
    color: var(--accent-primary) !important;
    width: 11rem !important;
    font-family: "Avenir Next", sans-serif !important;
    font-size: 1.1rem !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
    align-items: end !important;
    background-color: transparent !important;
}

.filters-dropdown-active-filters-options {
    height: fit-content;
    max-height: 25rem;
    overflow: scroll;
}