apiVersion: v1
kind: ConfigMap
metadata:
  name: numaflow-server-metrics-proxy-config
data:
  config.yaml: |
    # url is a required field, it should be the url of the service to which the metrics proxy will connect
    # url: service_name + "." + service_namespace + ".svc.cluster.local" + ":" + port
    # example for local prometheus service
    # url: http://prometheus-operated.monitoring.svc.cluster.local:9090
    patterns:
    - name: vertex_gauge
      object: vertex
      title: Vertex Pending Messages
      description: This query is the total number of pending messages for the vertex
      expr: |
        sum($metric_name{$filters}) by ($dimension, period)
      params:
        - name: start_time
          required: false
        - name: end_time
          required: false
      metrics:
        - metric_name: vertex_pending_messages
          display_name: Vertex Pending Messages
          required_filters:
            - namespace
            - pipeline
            - vertex
          dimensions:
            - name: pod
              # expr: optional expression for prometheus query
              # overrides the default expression
              filters:
                - name: pod
                  required: false
                - name: period
                  required: false
            - name: vertex
              # expr: optional expression for prometheus query
              # overrides the default expression
              filters:
                - name: period
                  required: false
    
    - name: mono_vertex_gauge
      object: mono-vertex
      title: Pending Messages Lag
      description: This query is the total number of pending messages for the mono vertex
      expr: |
        sum($metric_name{$filters}) by ($dimension, period)
      params:
        - name: start_time
          required: false
        - name: end_time
          required: false
      metrics:
        - metric_name: monovtx_pending
          display_name: Mono Vertex Pending Messages
          required_filters:
            - namespace
            - mvtx_name
          dimensions:
            - name: pod
              # expr: optional expression for prometheus query
              # overrides the default expression
              filters:
                - name: pod
                  required: false
                - name: period
                  required: false
            - name: mono-vertex
              # expr: optional expression for prometheus query
              # overrides the default expression
              filters:
                - name: period
                  required: false

    - name: mono_vertex_histogram
      object: mono-vertex
      title: Processing Time Latency
      description: This query pattern is for P99,P90 and P50 quantiles for a mono-vertex across different dimensions
      expr: |
        histogram_quantile($quantile, sum by($dimension,le) (rate($metric_name{$filters}[$duration])))
      params:
        - name: quantile
          required: true
        - name: duration
          required: true
        - name: start_time
          required: false
        - name: end_time
          required: false
      metrics:
        - metric_name: monovtx_processing_time_bucket
          display_name: Mono Vertex Processing Time Latency
          required_filters:
            - namespace
            - mvtx_name
          dimensions:
            - name: mono-vertex
            - name: pod
              filters:
                - name: pod
                  required: false
        - metric_name: monovtx_sink_time_bucket
          display_name: Mono Vertex Sink Write Time Latency
          required_filters:
            - namespace
            - mvtx_name
          dimensions:
            - name: mono-vertex
            - name: pod
              filters:
                - name: pod
                  required: false

    - name: vertex_throughput
      object: vertex
      title: Vertex Throughput and Message Rates
      description: This pattern measures the throughput of a vertex in messages per second across different dimensions
      expr: sum(rate($metric_name{$filters}[$duration])) by ($dimension)
      params:
        - name: duration
          required: true
        - name: start_time
          required: false
        - name: end_time
          required: false
      metrics:
        - metric_name: forwarder_data_read_total
          display_name: Vertex Read Processing Rate
          required_filters:
            - namespace
            - pipeline
            - vertex
          dimensions:
            - name: vertex
            - name: pod
              filters:
                - name: pod
                  required: false

    - name: mono_vertex_throughput
      object: mono-vertex
      title: Mono-Vertex Throughput and Message Rates
      description: This pattern measures the throughput of a mono-vertex in messages per second across different dimensions
      expr: sum(rate($metric_name{$filters}[$duration])) by ($dimension)
      params:
        - name: duration
          required: true
        - name: start_time
          required: false
        - name: end_time
          required: false
      metrics:
        - metric_name: monovtx_read_total
          display_name: Mono Vertex Read Processing Rate
          required_filters:
            - namespace
            - mvtx_name
          dimensions:
            - name: mono-vertex
            - name: pod
              filters:
                - name: pod
                  required: false