apiVersion: v1
kind: Service
metadata:
  name: numaflow-server
spec:
  type: ClusterIP
  ports:
  - targetPort: 8443
    port: 8443
  selector:
    app.kubernetes.io/part-of: numaflow
    app.kubernetes.io/component: numaflow-ux
