#
# UX server only with cluster install
#

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base/shared-config
  - ../../base/numaflow-server
  - ../../cluster-install/rbac/numaflow-server

namespace: numaflow-system

images:
  - name: quay.io/numaproj/numaflow
    newTag: v1.2.0-rc5

