.pipeline-summary-text {
    color: var(--text-primary);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.35rem;
}

.pipeline-summary-subtitle {
    font-weight: 600;
}

.pipeline-onclick-events {
    color: var(--accent-primary);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
